In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import KFold

In [7]:
df = pd.DataFrame({'a': [1, 2] * 3,
                  'b': [True, False] * 3,
                  'c': [1.0, 2.0] * 3,
                  'd': ['a', 'b'] * 3})

df

   a      b    c  d
0  1   True  1.0  a
1  2  False  2.0  b
2  1   True  1.0  a
3  2  False  2.0  b
4  1   True  1.0  a
5  2  False  2.0  b

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
a    6 non-null int64
b    6 non-null bool
c    6 non-null float64
d    6 non-null object
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 230.0+ bytes

In [14]:
numeric = df.select_dtypes(include=['int64', 'float64', 'object'])
numeric.columns

Index(['a', 'c', 'd'], dtype='object')

In [20]:
df_label = np.ravel(df.b)
print(df.b)
print(df)
df_label

0     True
1    False
2     True
3    False
4     True
5    False
Name: b, dtype: bool
   a      b    c  d
0  1   True  1.0  a
1  2  False  2.0  b
2  1   True  1.0  a
3  2  False  2.0  b
4  1   True  1.0  a
5  2  False  2.0  b

array([ True, False,  True, False,  True, False])

In [21]:
df = pd.get_dummies(df)
df

   a      b    c  d_a  d_b
0  1   True  1.0    1    0
1  2  False  2.0    0    1
2  1   True  1.0    1    0
3  2  False  2.0    0    1
4  1   True  1.0    1    0
5  2  False  2.0    0    1